<header class="bar bar-header bar-stable">
  <h1 class="title" style="font-family: tangerine; font-size: 30px;">Romantica.io</h1>
</header>
<ion-content ng-controller='ToDoListControl' class="has-header">
  <ion-list style="font-family: Merriweather; font-style: italic; font-weight: lighter;">
    <ion-item nav-clear menu-close ng-click="homeMenuClick()">
        Main
    </ion-item>
   <!--  <ion-item ng-click="addCategoryClick()" nav-clear menu-close>
      Create a New Category
    </ion-item> -->
    <!-- <ion-item nav-clear menu-close href="#/app/search">
      Find Something To Do<br /> 
      (by tag or by location)
    </ion-item> -->
   <ion-item nav-clear menu-close ng-click="allItemsClick()">
      Browse all Todo's 
    </ion-item>
    <!-- <ion-item nav-clear menu-close ng-click="dateClick()">
      Make A Date
    </ion-item> -->
    <ion-item nav-clear menu-close ng-click="listCategoriesClick()">
      View Categories
    </ion-item>
    <ion-item nav-clear menu-close ng-click="logout()">
      Log Out
    </ion-item>
    <!-- <ion-item nav-clear menu-close ng-click="showLoading('this is new text incoming', 2000)">
      Show Loader
    </ion-item> -->
  </ion-list>
</ion-content>