<div class="modal">
  <ion-header-bar>
    <h1 class="title">Create a New Category</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeCategory()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="createCategory()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Category Name</span>
          <input type="text" ng-model="newCategory.title">
        </label>
        <label class="item item-input">
          <span class="input-label">Category Icon</span>
          <!-- this should be dynamic based on available icons -->
            <div class="icon {{newCategory.icon}}" style="margin-right: 20px;"></div>
          <select ng-change="logNewCat()" name="catIcon" ng-model="newCategory.icon">
          	<option ng-repeat="thisIcon in availableIcons" value="{{thisIcon.iconClass}}">{{thisIcon.iconTitle}}</option>
          </select>
          <!-- <input type="text" ng-model="category.icon"> -->
        </label>
        <button type="button" class="button button-positive button-block button-center" style="width: 300px; margin-left: auto; margin-right: auto; background-color: #330925;" ng-model="todoItem.img" ng-click="captureImage('category')"><div style="font-size: 30px;" class="ion-camera"></div></button>
          <button type="button" class="button button-positive button-block button-center" style="width: 300px; margin-left: auto; margin-right: auto; background-color: #330925;" ng-model="todoItem.img" ng-click="selectImage('category')"><div style="font-size: 30px;" class="ion-images"></div></button>
        <label class="item">
          <button style="background-color: #330925;" class="button button-block button-positive" type="submit">Create</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>