	<ion-side-menus>
      	<!-- center pane content -->
		<ion-side-menu-content ng-controller="ToDoListControl" animation="slide-left-right">
		<ion-header-bar class="bar-stable" style="background: none; background-image: url('img/50pgrey_light.png'); background-repeat: repeat; border: none;">
      		<button menu-toggle="left" style="color: #ffffff;" class="button button-icon icon ion-navicon"></button>
      		<!-- <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button> -->
			<h1 class="title" style="font-family: tangerine; font-size: 30px; color: #ffffff;">Romantica.io</h1>
      		<!-- <button ng-click="openLoveModal()" style="color: #ffffff;" class="button button-icon icon ion-paper-airplane"></button> -->
        </ion-header-bar>
			<ion-content>
			<div class="row" ng-repeat='row in categoryRows'>
				<div ng-repeat='thisCol in row' class="categoryColumn col col-{{thisCol.displayWidth}} {{thisCol.displayType}}" ng-style="thisCol.bgCss" ng-click='goToCategory(thisCol.category.id)'>
					
						
						<!-- upper right suggestions for image -->
						<div class="categoryColumnImageUpperRightText" ng-if="thisCol.displayType == 'categoryColumnImage'">
							<span>{{::thisCol.category.title}}</span>
							<div id="middleIconHolder" class="categoryColumnImageIconHolder" style="float: right;">
								<div class="button-icon icon {{::thisCol.category.icon}}"></div>
							</div>
						</div>

						
						<!-- center icon holder for solid panes -->
						<div ng-if="thisCol.displayType == 'categoryColumnSolid'">
							<span>{{::thisCol.category.title}}</span>
							<div id="middleIconHolder" class="categoryColumnSolidIconHolder">
								<div class="button-icon icon {{::thisCol.category.icon}}"></div>
							</div>
						</div>
						
						
						<!-- center suggestion text for suggestions -->
						<div ng-if="thisCol.displayType == 'categoryColumnSuggestion'">
							<div class="suggestionTextCategoryPage" ng-if="thisCol.displayType == 'categoryColumnSuggestion'">
								{{::getRandomSuggestion(thisCol.category.id).title}}
							</div>
							<br style="clear:both;" />
							<div class="lowerLeftSuggestionTextHolder">
								<div id="middleIconHolder" class="categoryColumnSuggestionIconHolder">
									<div class="icon {{::thisCol.category.icon}}" style='font-size: 15px;'></div>
								</div>
								<span style="text-align: left; float: left; padding-top: 5px;">{{::thisCol.category.title}}</span>
							</div>
						</div>
				</div>
			</div>
			</ion-content>
		</ion-side-menu-content>
		<!-- ////////////////////////////////////////////////////////// -->
		<!-- left pane content -->
		<!-- ////////////////////////////////////////////////////////// -->
      	<ion-side-menu side="left">
			<div app-side-menu>
            <!--directive defined in app.js, code is in js/directives/ -->
            </div>
      	</ion-side-menu>
      </ion-side-menus>
    