	 <ion-side-menus>
      	<!-- center pane content -->
		<ion-side-menu-content ng-controller="ToDoListControl" animation="slide-left-right">
		<ion-header-bar class="bar-stable headerBar" style="background: none; background-image: url('img/50pgrey_light.png'); background-repeat: repeat; border: none;">
      		<button menu-toggle="left" style="color: #ffffff;" class="button button-icon icon ion-navicon"></button>
			<h1 class="title" style="font-family: tangerine; font-size: 30px; color: #ffffff;">Romantica.io</h1>
      		<!-- <button ng-click="openLoveModal()" style="color: #ffffff;" class="button button-icon icon ion-paper-airplane"></button> -->
        </ion-header-bar>
			<ion-content id="main">
				(incorrect login:) this is where main should be
			</ion-content>
		</ion-side-menu-content>
		<!-- //////////////////////////////////////////////////////// -->
		<!-- left pane content -->
		<!-- //////////////////////////////////////////////////////// -->
      	<ion-side-menu side="left">
			<header class="bar bar-header bar-stable">
			  <h1 class="title" style="font-family: tangerine; font-size: 30px;">Romantisca</h1>
			</header>
      		<ion-content ng-controller='ToDoListControl' class="has-header">
		      <ion-list style="font-family: Merriweather; font-style: italic; font-weight: lighter;">
		        <ion-item nav-clear menu-close ng-click="homeMenuClick()">
		         	Main
		        </ion-item>
		        <ion-item ng-click="addCategoryClick()" nav-clear menu-close>
		          Create a New Category
		        </ion-item>
		        <!-- <ion-item nav-clear menu-close href="#/app/search">
		          Find Something To Do<br /> 
		          (by tag or by location)
		        </ion-item> -->
		        <ion-item nav-clear menu-close ng-click="allItemsClick()">
		          Browse all Todo's 
		        </ion-item>
		        <!-- <ion-item nav-clear menu-close ng-click="dateClick()">
		          Make A Date
		        </ion-item> -->
		        <ion-item nav-clear menu-close ng-click="listCategoriesClick()">
		          View Categories
		        </ion-item>
		        <ion-item nav-clear menu-close ng-click="logout()">
		          Log Out
		        </ion-item>
		        <ion-item nav-clear menu-close ng-click="showLoading('this is new text incoming', 2000)">
		          Show Loader
		        </ion-item>
		      </ion-list>
		    </ion-content>
      	</ion-side-menu>
      </ion-side-menus>
    