<script type="text/javascript">
	//alert('this is the item detail');
</script>
      <ion-side-menus>
      	<!-- center pane content -->
		<ion-side-menu-content ng-controller="ToDoListControl" animation="slide-left-right">
		<ion-header-bar class="bar-stable" style="background: none; background-image: url('img/50pgrey_light.png'); background-repeat: repeat; border: none;">
      		<button menu-toggle="left" style="color: #ffffff;" class="button button-icon icon ion-navicon"></button>
			<h1 class="title" style="font-family: tangerine; font-size: 30px; color: #ffffff;">Romantica.io</h1>
      		<!-- <button ng-click="openLoveModal()" style="color: #ffffff;" class="button button-icon icon ion-paper-airplane"></button> -->
        </ion-header-bar>
			<ion-content id="main">
			<div class="blurHolder">
				<div class="mainSuggestionDetail" id="mainSuggestionPanel" style="background-image: url('{{item.image_blurred}}');"></div>
			</div>
			<div id="allTheDeets" class="mainDetailsHolder">
				<div id="circular-center" class="main-img-circular-detail" style="background-image: url('{{item.image_main}}');">
					<div id="circular-heart" ng-show="item.doneBool" class="main-img-circular-detail-heart"></div>
				</div>
				
				<div class="suggestionTextDetail" style="font-size: 30px;">{{item.title}}</div>
				<div class="suggestionTextDetail" style="font-size: 20px;"><div class="icon {{item.categoryIcon}}"></div>{{item.categoryTitle}}</div>
			</div>
			<!-- <div class="DONE" style="border-bottom: 1px #ffffff solid; padding-top: 10px;" id="mainButton1" ng-click='handleLetsDoItClick(item.id)'><div class="icon ion-calendar"></div></div> -->
			<div class="DONE" id="done_button" ng-click="handleDoneClick(item.id)"><div class="icon ion-ribbon-b"></div></div>
			<div class="itemDetailsHolder" style="text-align: center;">
				<!-- BEGIN ITEM SMALL DETAILS -->
				<div id="small_details_holder" style="width: auto; padding-top: 20px; display: inline-block;">
					<div id='locationHolder' style=" float: left; margin-left: 10px;">
						<div class="itemDetails" style="font-size: 12px;">
							<div class="icon ion-location" style="float: left; margin-right: 10px;"></div> 
							{{item.location}}
						</div>
					</div>
					<div id="timeHolder" style=" float:left; margin-left: 10px;">
						<div class="itemDetails" style="font-size: 12px;">
							<div class="icon ion-calendar" style="float: left;"></div> 
							{{item.startDate}} - {{item.endDate}}
						</div>
					</div>
					<div id="costHolder" style=" float:left; margin-left: 10px; margin-right: 10px;">
						<div class="itemDetails" style="font-size: 12px;">
							<div class="icon ion-cash" style="float: left; margin-right: 10px;"></div> 
							{{item.cost}}
						</div>
					</div>
				</div>
				<!-- END OF THE ITEM SMALL DETAILS -->
			</div>
			<div class="itemDetailDescription">{{item.description}}</div>
			<!-- need a place to mark as done -->
			<!-- list the meta -->
			<!-- list the description -->
			<!-- list the messages -->
			</ion-content>
		</ion-side-menu-content>
		<!-- //////////////////////////////////////////////////////// -->
		<!-- left pane content -->
		<!-- //////////////////////////////////////////////////////// -->
      	<ion-side-menu side="left">
			<div app-side-menu>
            <!--directive defined in app.js, code is in js/directives/ -->
            </div>
      	</ion-side-menu>
      </ion-side-menus>
    