<script type="text/javascript">
	//alert('this is the items list');
</script>
<!-- if there is a category specified -->
<!-- show the header of the category -->
<!-- list the items -->
      <ion-side-menus>
      	<!-- center pane content -->
		<ion-side-menu-content ng-controller="todoItemsController" animation="slide-left-right">
		<ion-header-bar class="bar-stable" style="background: none; background-image: url('img/50pgrey_light.png'); background-repeat: repeat; border: none;">
      		<button menu-toggle="left" style="color: #ffffff;" class="button button-icon icon ion-navicon"></button>
			<h1 class="title" style="font-family: tangerine; font-size: 30px; color: #ffffff;">Romantica.io</h1>
      		<button ng-click="sortingby()" style="color: #ffffff;" class="button button-icon icon ion-android-more-horizontal"></button>
        </ion-header-bar>
			<!-- <ion-content> -->
			<ion-content>
				<div id='catTitleHolder' ng-if='catId != undefined'>
					<div class="categoryColumn col col-100 categoryItemsListHeader" style="background-image: url('{{category.image}}');">
						<span>{{category.title}}</span>
							<div id="middleIconHolder" class="categoryColumnSolidIconHolder">
								<div class="button-icon icon {{category.icon}}"></div>
							</div>
					</div>
				</div>
				<ion-list>
					<ion-item ng-repeat="item in items | orderBy:sby" ng-click='handleItemClick(item.id)'>

						<div ng-if="item.done == 0" style="background-image: url({{item.image_main}});" class="item-img-circular"></div>
						<div ng-if="item.done == 1" class="item-complete-circular"></div>
							
							<h2 class="listItemTitleHeader" style="margin-top: 35px;">{{item.title}}</h2> 
							<div style="white-space: normal;">{{item.description}}</div><br />
							<div class="icon {{item.categoryIcon}}" style="margin-left: 80px;"><i ng-if="item.done == 1" style="color: red; margin-left: 5px;" class="icon ion-heart"></i><div ng-if="item.likedBy" class="icon ion-heart">{{item.likedBy}}</div></div>
                      		<!-- ng-model="item.checked"  -->
                      		<!-- ng-checked="item.checked"> -->
						<ion-option-button ng-click="handleDeleteClick(item.id,item)"><div class="centerSlideButtonContent button-icon icon ion-trash-b"></div></ion-option-button>
						<ion-option-button ng-click='handleEditClick(item.id)'><div class="centerSlideButtonContent button-icon icon ion-compose"></div></ion-option-button>
						<ion-option-button ng-click='handleMessageClick(item.id)'><div class="centerSlideButtonContent button-icon icon ion-chatbox-working"></div></ion-option-button>
						<ion-option-button ng-click='handleLikeClick(item.id)'><div class="centerSlideButtonContent button-icon icon ion-heart"></div></ion-option-button>
						<ion-option-button ng-click='handleLetsDoItClick(item.id)'><div class='centerSlideButtonContent'> DO IT </div></ion-option-button>
						
					</ion-item>
				</ion-list>
			</ion-content>
			<!-- </ion-content> -->
		</ion-side-menu-content>
		<!-- //////////////////////////////////////////////////////// -->
		<!-- left pane content -->
		<!-- //////////////////////////////////////////////////////// -->
      	<ion-side-menu side="left">
			<div app-side-menu>
            <!--directive defined in app.js, code is in js/directives/ -->
            </div>
      	</ion-side-menu>
      </ion-side-menus>
    