<div class="modal" style="background-image: url('../img/10_blur.jpg');">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Your Note</span>
          <input type="text" ng-model="love.note">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Login</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>