<!-- THIS IS THE NEW LOGIN - REVERT BACK TO LOVE WHEN LOGIN IS DONE -->
<div class="modal" style="background-image: url('../img/10_blur.jpg');">
  <ion-header-bar>
    <h1 class="title">Send A Love Note</h1>
		<div id='catTitleHolder'>
			<div class="categoryColumn col col-100 categoryItemsListHeader" style="background-image: url('{{category.image}}');">
				<span>{{category.title}}</span>
					<div id="middleIconHolder" class="categoryColumnSolidIconHolder">
						<div class="button-icon icon {{category.icon}}"></div>
					</div>
			</div>
		</div>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLoveModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Your Note</span>
          <input type="text" ng-model="love.note">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Send</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>