<script type="text/javascript">
	//alert('this is main');
</script>		
      <ion-side-menus>
      	<!-- center pane content -->
		<ion-side-menu-content ng-controller="ToDoListControl" animation="slide-left-right">
		<ion-header-bar class="bar-stable headerBar" style="background: none; background-image: url('img/50pgrey_light.png'); background-repeat: repeat; border: none;">
      		<button menu-toggle="left" style="color: #ffffff;" class="button button-icon icon ion-navicon"></button>
			<h3 class="title" style="font-style: italic; font-size: 30px; color: #ffffff;">Romantica.io</h3>
      		<!-- <button ng-click="openLoveModal()" style="color: #ffffff;" class="button button-icon icon ion-paper-airplane"></button> -->
        </ion-header-bar>
			<ion-content id="main">
			<div>
				<div id="heartIconHolder" class="heartIconHolder">
					<img src="img/heart_lg.png" ng-click="heartClick()" />
				</div>
			</div>
			<!-- ========================== -->
			<!-- random item suggestion div -->
			<!-- ========================== -->
			<ion-slide-box does-continue="true">
				<ion-slide>
					<div class="randomSuggestionHolder" ng-click='handleSuggestionClick(randomSuggestion1.id)'>
						<div ng-if='randomSuggestion1' class="mainSuggestion" style="background-image: url('{{randomSuggestion1.image_blurred}}');" id="mainSuggestionPanel">
						</div>
						<div class='suggestionContentsHolder'>
							<div class="main-img-circular" style="background-image: url('{{randomSuggestion1.image_main}}');"></div>

						</div>
						<div class="suggestionText">
							{{randomSuggestion1.title}}
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="randomSuggestionHolder" ng-click='handleSuggestionClick(randomSuggestion2.id)'>
						<div ng-if='randomSuggestion2' class="mainSuggestion" style="background-image: url('{{randomSuggestion2.image_blurred}}');" id="mainSuggestionPanel">
						</div>
						<div class='suggestionContentsHolder'>
							<div class="main-img-circular" style="background-image: url('{{randomSuggestion2.image_main}}');"></div>

						</div>
						<div class="suggestionText">
							{{randomSuggestion2.title}}
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="randomSuggestionHolder" ng-click='handleSuggestionClick(randomSuggestion3.id)'>
						<div ng-if='randomSuggestion3' class="mainSuggestion" style="background-image: url('{{randomSuggestion3.image_blurred}}');" id="mainSuggestionPanel">
						</div>
						<div class='suggestionContentsHolder'>
							<div class="main-img-circular" style="background-image: url('{{randomSuggestion3.image_main}}');"></div>

						</div>
						<div class="suggestionText">
							{{randomSuggestion3.title}}
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="randomSuggestionHolder" ng-click='handleSuggestionClick(randomSuggestion4.id)'>
						<div ng-if='randomSuggestion4' class="mainSuggestion" style="background-image: url('{{randomSuggestion4.image_blurred}}');" id="mainSuggestionPanel">
						</div>
						<div class='suggestionContentsHolder'>
							<div class="main-img-circular" style="background-image: url('{{randomSuggestion4.image_main}}');"></div>

						</div>
						<div class="suggestionText">
							{{randomSuggestion4.title}}
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="randomSuggestionHolder" ng-click='handleSuggestionClick(randomSuggestion5.id)'>
						<div ng-if='randomSuggestion5' class="mainSuggestion" style="background-image: url('{{randomSuggestion5.image_blurred}}');" id="mainSuggestionPanel">
						</div>
						<div class='suggestionContentsHolder'>
							<div class="main-img-circular" style="background-image: url('{{randomSuggestion5.image_main}}');"></div>

						</div>
						<div class="suggestionText">
							{{randomSuggestion5.title}}
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="randomSuggestionHolder" ng-click='handleSuggestionClick(randomSuggestion6.id)'>
						<div ng-if='randomSuggestion6' class="mainSuggestion" style="background-image: url('{{randomSuggestion6.image_blurred}}');" id="mainSuggestionPanel">
						</div>
						<div class='suggestionContentsHolder'>
							<div class="main-img-circular" style="background-image: url('{{randomSuggestion6.image_main}}');"></div>

						</div>
						<div class="suggestionText">
							{{randomSuggestion6.title}}
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="randomSuggestionHolder" ng-click='handleSuggestionClick(randomSuggestion7.id)'>
						<div ng-if='randomSuggestion7' class="mainSuggestion" style="background-image: url('{{randomSuggestion7.image_blurred}}');" id="mainSuggestionPanel">
						</div>
						<div class='suggestionContentsHolder'>
							<div class="main-img-circular" style="background-image: url('{{randomSuggestion7.image_main}}');"></div>

						</div>
						<div class="suggestionText">
							{{randomSuggestion7.title}}
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="randomSuggestionHolder" ng-click='handleSuggestionClick(randomSuggestion8.id)'>
						<div ng-if='randomSuggestion8' class="mainSuggestion" style="background-image: url('{{randomSuggestion8.image_blurred}}');" id="mainSuggestionPanel">
						</div>
						<div class='suggestionContentsHolder'>
							<div class="main-img-circular" style="background-image: url('{{randomSuggestion8.image_main}}');"></div>

						</div>
						<div class="suggestionText">
							{{randomSuggestion8.title}}
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="randomSuggestionHolder" ng-click='handleSuggestionClick(randomSuggestion9.id)'>
						<div ng-if='randomSuggestion9' class="mainSuggestion" style="background-image: url('{{randomSuggestion9.image_blurred}}');" id="mainSuggestionPanel">
						</div>
						<div class='suggestionContentsHolder'>
							<div class="main-img-circular" style="background-image: url('{{randomSuggestion9.image_main}}');"></div>

						</div>
						<div class="suggestionText">
							{{randomSuggestion9.title}}
						</div>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="randomSuggestionHolder" ng-click='handleSuggestionClick(randomSuggestion10.id)'>
						<div ng-if='randomSuggestion10' class="mainSuggestion" style="background-image: url('{{randomSuggestion10.image_blurred}}');" id="mainSuggestionPanel">
						</div>
						<div class='suggestionContentsHolder'>
							<div class="main-img-circular" style="background-image: url('{{randomSuggestion10.image_main}}');"></div>

						</div>
						<div class="suggestionText">
							{{randomSuggestion10.title}}
						</div>
					</div>
				</ion-slide>
			</ion-slide-box>
			<!-- ========================== -->
			<!-- random item suggestion div -->
			<!-- ========================== -->
			
			<!-- end of the random suggestion item -->
			<div ng-if='!randomSuggestion1' class="mainSuggestion">NO SUGGESTIONS YET</div>
			
			<!-- //////////////////////////////////////////////////////// -->
			<!-- main buttons -->
			<!-- //////////////////////////////////////////////////////// -->
			
			<div class="mainButtonsHolder">
				<!-- <div class="suggestButton" id='mainButton1' ng-click="handleAnotherSuggestionClick()">Another Suggestion</div> -->
				<!-- <div class="nextButton" id="mainButton2" ng-click='handleLetsDoItClick(randomSuggestion.id)'>Let's Do It</div> -->
				<div ng-click="addItemClick()" class="addButton icon ion-plus-circled" id="mainButton3"></div>
			</div>
			
			
			</ion-content>
		</ion-side-menu-content>
		<!-- //////////////////////////////////////////////////////// -->
		<!-- left pane content -->
		<!-- //////////////////////////////////////////////////////// -->
      	<ion-side-menu side="left">
            <div app-side-menu>
            <!--directive defined in app.js, code is in js/directives/ -->
            </div>
      	</ion-side-menu>
      </ion-side-menus>
    