
<div class="modal" style="background-image: url('../img/10_blur.jpg');">
  <ion-header-bar>
    <h1 class="title">Send A Message</h1>
	<div class="buttons">
      <button class="button button-clear" ng-click="closeMessageModal()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doMessage()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Message</span>
          <input type="text" ng-model="msg.subject">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Send</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>