<div class="modal">
  <ion-header-bar>
    <h1 class="title">Create a New ToDo</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeNewItem()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <!-- <form ng-submit="loginContentsHolder"> -->
    	<form ng-submit="postNewItemDetails()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">What are we doing</span>
          <input type="text" ng-model="todoItem.title">
        </label>
        <!-- make a select statement using $scope.categories  -->
        <label class="item item-input item-select">
          <span class="input-label">Category</span>
			<select ng-model="todoItem.cat">
				<option ng-repeat='category in categories' value="{{category.id}}">{{category.title}}</option>
			</select>
			<div class='icon {{categories[(todoItem.cat-1)].icon}}'></div>
        </label>
        <!-- close out the category select  -->
        <label class="item item-input">
          <span class="input-label">Description</span>
          <input type="text" ng-model="todoItem.desc">
        </label>
        <label class="item item-input">
          <span class="input-label">Location</span>
          <input type="text" ng-model="todoItem.location">
        </label>
        <label class="item item-input">
          <span class="input-label">Cost</span>
          $ <input type="text" ng-model="todoItem.cost">
        </label>
        <label class="item item-input">
          <span class="input-label">ToDo dates and times</span>
        </label>
        <label class="item item-input" style="padding-left: 60px;">
          <span class="input-label">Start Date</span>
          <input type="date" ng-model="todoItem.startDay">
        </label>
        <label class="item item-input" style="padding-left: 60px;">
          <span class="input-label">Start Time</span>
          <input type="time" ng-model="todoItem.startTime" name="startTime" id="startTimeElement">
        </label>
        <label class="item item-input"style="padding-left: 60px;">
          <span class="input-label">End Date</span>
          <input type="date" ng-model="todoItem.endDay">
        </label>
        <label class="item item-input" style="padding-left: 60px;">
          <span class="input-label">End Time</span>
		  <input type="time" ng-model="todoItem.endTime" name="endTime" id="endTimeElement">
        </label>
        <!-- <label class="item item-input"> -->
          <!-- <span class="input-label">Shoot It</span> -->
          	<button type="button" class="button button-positive button-block button-center" style="width: 300px; margin-left: auto; margin-right: auto; background-color: #330925;" ng-model="todoItem.img" ng-click="captureImage('todo')"><div style="font-size: 30px;" class="ion-camera"></div></button>
          	<button type="button" class="button button-positive button-block button-center" style="width: 300px; margin-left: auto; margin-right: auto; background-color: #330925;" ng-model="todoItem.img" ng-click="selectImage('todo')"><div style="font-size: 30px;" class="ion-images"></div></button>
        <!-- </label> -->
        <label class="item">
          <button class="button button-block button-positive" style="background-color: #330925;" type="submit">Create</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>