				<div class="50p_background" id="mainMenu" style="background-image: url('img/50pgrey_light.png'); background-repeat: repeat; position: absolute; right: 0; top: 0; display: none; margin-top: 200px; height: 600px; overflow: scroll;">
					<div class="buttons" style="float: right;">
				  		<button class="button button-icon icon ion-heart-broken" style="color:#000000;" ng-click="closeMainMenu()"></button>
				  	</div>
			  		<br style="clear:both;" />
				  	<ion-list>
				      	<ion-item ng-click="itemClicked($index)" ng-repeat="category in categories" style="font-family: Merriweather; font-style: italic; font-weight: 400; border-color: #DEDEDE; background: none; border-top: none; border-right:none; border-left:none; color: #ffffff;">
				      		{{category.title}}
				      	</ion-item>
				  	</ion-list>
				</div>
				