<ion-list>
    <ion-radio ng-model="sortCriteria" ng-value="" ng-click="ssort('')">None</ion-radio>
    <ion-radio ng-model="sortCriteria" ng-value="'start_date'" ng-click="ssort('start_date')">Start date</ion-radio>
    <ion-radio ng-model="sortCriteria" ng-value="'cost'" ng-click="ssort('cost')">Cost</ion-radio>
    <ion-radio ng-model="sortCriteria" ng-value="'done'" ng-click="ssort('done')">Done</ion-radio>
</ion-list>