<script type="text/javascript">
	//alert('this is login');
</script>
<ion-side-menus>
      	<!-- center pane content -->
		<ion-side-menu-content ng-controller="userLoginController" animation="slide-left-right">
		<ion-header-bar class="bar-stable headerBar" style="background: none; background-image: url('img/50pgrey_light.png'); background-repeat: repeat; border: none;">
      		<button menu-toggle="left" style="color: #ffffff;" class="button button-icon icon ion-navicon"></button>
			<h1 class="title" style="font-family: tangerine; font-size: 30px; color: #ffffff;">Romantica.io</h1>
      		<!-- <button ng-click="openLoveModal()" style="color: #ffffff;" class="button button-icon icon ion-paper-airplane"></button> -->
        </ion-header-bar>
			<ion-content id="main">
					<!-- THIS SHOUDL BE THE MAIN CONTENT -->
					<div class='loginContentsHolder'>
						<!-- change this shit to an image that reps the brand -->
						<div class="main-img-circular" style="background-image: url('img/10.jpg');"></div>
					</div>
					<br style="clear: both;"/>
					<form ng-submit="doLogin()" style="margin-top: 300px;">
						<div class="list">
							<label class="login item item-input">
								<span class="login-label input-label">Email</span>
								<input type="text" ng-model="loggingInUser.email">
							</label>
							<label class="login item item-input">
								<span class="login-label input-label">Password</span>
								<input type="password" ng-model="loggingInUser.password">
							</label>
							<label class="login item">
								<button class="button-block loginButton" type="submit">Login</button>
							</label>
						</div>
					</form>
					
			</ion-content>
		</ion-side-menu-content>
		<!-- //////////////////////////////////////////////////////// -->
		<!-- left pane content -->
		<!-- //////////////////////////////////////////////////////// -->
      	<ion-side-menu side="left">
			<div app-side-menu>
            <!--directive defined in app.js, code is in js/directives/ -->
            </div>
      	</ion-side-menu>
      </ion-side-menus>
