/* Empty. Add your own CSS if you like */


.ng-invalid-required .ng-touched {
	background-color: #FA787E;
  }

.headerBar {
	background: none;
	background-image: url('img/50pgrey_light.png'); 
	background-repeat: repeat;
	border: none;
}

.pane {
	background-image: url('../img/10_blur.jpg');
	/* background-image: url('../img/black-lace-floral-design_blurred.jpg'); */
	/* background-image: url('../img/black-lace-floral-design.jpg'); */
	/*background-image: url('../img/IMG_8926.jpg');*/
	
	background-position: center;
	background-repeat-x: no-repeat; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
}

.mainSuggestion {

	height: 300px;
	background-position: center;
	background-repeat-x: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	margin-top: 0px;
	display: block;
	text-align: center;
	padding-top: 8px;
	/* -webkit-filter: blur(20px);
	filter: blur(20px); 
    width: 105%;
	*/
	
	/*
	removed on addition of the ion slide box
	margin-left: -10px;
	*/
}

.slider-pager {
	bottom: 8px !important;
}

.suggestionText {
	color:#FFFFFF;
	position: absolute;
	top: 250px;
	font-style: italic;
	text-align: center;
	font-size: 30px;
	width: auto;
	margin-left: auto;
	margin-left: auto;
	left: 0px;
	right: 0px;
}

.suggestionTextCategoryPage {
	color:#FFFFFF;
	position: absolute;
	top: 85px;
	font-style: italic;
	text-align: center;
	font-size: 30px;
	width: auto;
	margin-left: auto;
	margin-left: auto;
	left: 0px;
	right: 0px;
}

.suggestionTextDetail {
	color:#FFFFFF;
	margin-top: 20px; 
	font-size: 30px; 
	font-style: italic;
}

.suggestionContentsHolder {
	top: 30px;
	margin-left: auto;
	margin-right: auto;
	left:0px;
	right: 0px;
	position:absolute;
	width:200px;
}

/* https://coderwall.com/p/z87nsq/how-to-make-a-circular-image-with-css-only */
.main-img-circular{
	margin-right: auto;
	width: 200px;
	height: 200px;
	background-size: cover;
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	position: absolute;
	border: #FFFFFF 1px solid;
	 /*
	 border-top-left-radius: 100px;
	 -webkit-border-top-left-radius: 100px;
	 -moz-border-top-left-radius: 100px;
	 border-bottom-right-radius: 100px;
	 -webkit-border-bottom-right-radius: 100px;
	 -moz-border-bottom-right-radius: 100px;
	 */
}

.main-img-circular-detail{
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	height: 200px;
	background-size: cover;
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	border: #FFFFFF 1px solid;
	 /*
	 border-top-left-radius: 100px;
	 -webkit-border-top-left-radius: 100px;
	 -moz-border-top-left-radius: 100px;
	 border-bottom-right-radius: 100px;
	 -webkit-border-bottom-right-radius: 100px;
	 -moz-border-bottom-right-radius: 100px;
	 */
}

.main-img-circular-detail-heart{
	margin-right: auto;
	margin-left: auto;
	width: 80px;
	height: 80px;
	background-size: cover;
	background-image: url('../img/heart_lg.png');
	border-radius: 100px;
	-webkit-border-radius: 100px;
	border: #FFFFFF 3px solid;
	margin-top: 60px;
    background-color: black;

	 /*
	 border-top-left-radius: 100px;
	 -webkit-border-top-left-radius: 100px;
	 -moz-border-top-left-radius: 100px;
	 border-bottom-right-radius: 100px;
	 -webkit-border-bottom-right-radius: 100px;
	 -moz-border-bottom-right-radius: 100px;
	 */
}

.item-complete-circular {
	margin-top: 30px;
	margin-left: auto;
	width: 50px;
	height: 50px;
	background-color:#684683;
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	float: left; 
	padding-right: 20px; 
	margin-right: 30px;
	margin-bottom: 25px;
}

.item-img-circular {
	margin-top: 30px;
	margin-left: auto;
	width: 50px;
	height: 50px;
	
	background-size: cover;
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	float: left; 
	padding-right: 20px; 
	margin-right: 30px;
	margin-bottom: 25px;
	 /*
	 border-top-left-radius: 100px;
	 -webkit-border-top-left-radius: 100px;
	 -moz-border-top-left-radius: 100px;
	 border-bottom-right-radius: 100px;
	 -webkit-border-bottom-right-radius: 100px;
	 -moz-border-bottom-right-radius: 100px;
	 */
}

.categoryItemsListHeader {
	 padding-top:40px;
	 border:none !importan;
	 background-position:center;
	 background-repeat: no-repeat;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
}

.categoryColumn {
	border:1px solid #FFFFFF;
	color:#FFFFFF;
	text-align:center;
	height:200px;
	display: block;
	background-image: url('../img/50pgrey_light.png');
	background-repeat: repeat;
	
}

.item-complex .item-content, .item-radio .item-content {
	background-color: #151922;
	color: #ffffff;
}

.loginContentsHolder {
	top: 30px;
	margin-left: auto;
	margin-right: auto;
	left:0px;
	right: 0px;
	position:absolute;
	width:200px;
}

.login {
	background:none;
	background-image: url('../img/50pgrey_light.png');
	background-repeat: repeat;
	border-color: #8B61A0;
}

.login-label {
	color:#000000;
}

.loginButton {
	background-color: #DBC5F7; 
	height: 50px;
	border: none;
}

.item {
	border-color: #454D5E;
}

.listItemTitleHeader {
	color:#FFFFFF;
}

.categoryColumnImageUpperRightText {
	text-align:right;
	font-size: 8px;
	margin-right: 10px;
}

.categoryColumnImageIconHolder {
	
}

.categoryColumnImage {
	/* faded image bg, icon small upper left, title upper left */
	background-size: cover;
}


.categoryColumnSolidIconHolder {
	 margin-top: 5px;
	 margin-left: auto;
	 margin-right: auto;
	 width: 50px;
	 height: 50px;
	 display: block;
	 border-radius: 100px;
 	-webkit-border-radius: 100px;
 	-moz-border-radius: 100px;
 	border:1px solid #FFFFFF;
 	padding-top: 7px;
 	text-align:center;
}

.categoryColumnSolid {
	/* solid bg, icon centered, title centered under*/
	background-color: #684683;
	background-repeat: repeat;
	padding-top: 40px;
}

.categoryColumnSuggestion {
	/* solid bg, fullsize text, 50 or over */
	background-image: url('../img/50pgrey_light.png');
	background-repeat: repeat;
	position: relative;
}

.lowerLeftSuggestionTextHolder {
	position: absolute;
	left: 0;
	bottom: 5px;
}

.categoryColumnSuggestionBottomText {
	margin-top: 20px;
	text-align:center;
	font-size: 8px;
}

.categoryColumnSuggestionIconHolder {
	float: left;
	width: 30px;
	height: 30px;
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border:1px solid #FFFFFF;
	padding-top: 4px;
	margin-left: 10px;
	margin-right: 10px;
}

.mainButtonsHolder {
	/* margin-top: -12px; */
	z-index: 20;
	position: absolute;
	width: 100%;
	border-top: 3px #FFFFFF solid;
}

.nextButton {
	float: left;
	width: 50%;
	height: 40px;
	text-align:center;
	color: #ffffff;
	padding-top:10px;
	background-image: url('../img/50pgrey.png');
	
	background-repeat: repeat;
}

.addButton {
	width: 100%;
	height: 60px;
	display: block;
	background-image: url('../img/50pgrey.png');
	background-repeat: repeat;
	text-align:center;
	/* margin-top: 40px; */
	margin-top: 0px;
	padding-top: 15px;
	font-size: 35px;
	border-top: 1px #FFFFFF solid;
}

.suggestButton {
	float: left;
	width: 50%;
	height: 40px;
	text-align:center;
	color: #ffffff;
	padding-top:10px;
	background-image: url('../img/50pgrey.png');
	background-repeat: repeat;
	border-right: 1px #FFFFFF solid;
	
}

.heartIconHolder {
	display: block;
	position: absolute;
	/* top: 450px; 
	right: 30px; */
    top: 400px;
    left: 50%;
    margin-left: -43px;
}

.centerSlideButtonContent {
	vertical-align: center;
	
}

.DONE {
	float: left;
	width: 100%;
	height: 60px;
	font-size: 40px;
	text-align:center;
	color: #000000;
	padding-top:10px;
	background-image: url('../img/50pgrey.png');
	background-repeat: repeat;
	border-bottom: 1px #ffffff solid;
}

.itemDetailDescription {
	float: left;
	width: 100%;
	height: 60px;
	font-size:15px;
	text-align:center;
	color: #000000;
	padding-top:15px;
	background-image: url('../img/50pgrey.png');
	background-repeat: repeat;
	border-bottom: 2px solid #684683;
	border-top: 2px solid #ffffff;
}

.itemDetails {
	width:100%;
	text-align: left;
	margin-bottom: 10px;
}

.itemDetailsHolder {
	background-image: url('../img/50pgrey.png');
	background-repeat: repeat;
	padding-top: 150px;
	padding-bottom: 40px;
	width: 100%;
}

.modal {
	opacity: .92;
}

.modal-backdrop.active {
	rgba(0, 0, 0, 0.8);
}

.mainDetailsHolder {
	position:absolute;
	z-index: 200;
	width: 100%;
	top: 85px;
	text-align:center;
}

.blurHolder {
	height: 465px;
	overflow: hidden;
}

.mainSuggestionDetail {

	height: 475px;
	/* background-image: url('../img/beach_blur.png'); */
	background-position: center;
	background-repeat-x: no-repeat; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
	width: 105%;
	margin-left: -10px;
	display:block;
	text-align:center;
	padding-top:8px;
	-webkit-filter: blur(20px);
	filter: blur(20px);
}


/* fonts */
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local('../fonts/Merriweather Light'), local('../fonts/Merriweather-Light'), url(../fonts/merryweather_light.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local('../fonts/Merriweather Light'), local('../fonts/Merriweather-Light'), url(../fonts/merryweather_light_400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'MerriweatherN1';
  font-style: normal;
  font-weight: 400;
  src: local('../fonts/Merriweather'), url(../fonts/merryweather_normal.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'MerriweatherN2';
  font-style: normal;
  font-weight: 400;
  src: local('../fonts/Merriweather'), url(../fonts/merryweather_normal_2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'MerriweatherLI1';
  font-style: italic;
  font-weight: 300;
  src: local('../fonts/Merriweather Light Italic'), local('../fonts/Merriweather-LightItalic'), url(../fonts/merryweather_italic.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'MerriweatherLI2';
  font-style: italic;
  font-weight: 300;
  src: local('../fonts/Merriweather Light Italic 2'), local('../fonts/Merriweather-LightItalic'), url(../fonts/merryweather_italic_2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: local('../fonts/Tangerine'), url(../fonts/tangerine.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/*=========*/
.button.button-positive {
	background-color: #330925 !important;
	border-color: #330925 !important;
}